.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1274px;
    padding-top: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.avatar, .username {
    padding: 0 10px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding: 10px 20px;
    border-radius: 10px;
}

input {
    margin-left: 20px;
    background-color: #191919;
    border: none;
    font-family: "Montserrat", sans-serif;
}

