.profile {
    margin: 40px auto;
}

.form {
    padding: 30px;
    background-color: #191919;
    border-radius: 5px;
}

.group {
    margin-bottom: 20px;
}

.group input {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #212121;
    color: #fff;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.group input::placeholder {
    color: #616E74;
}

.group input:focus {
    border: 1px solid #9147ff;
}

.submit {
    width: 100%;
    padding: 10px 20px;
    background-color: #9147ff;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #8B57C6;
}