.sidebar {
    padding: 20px;
    width: 300px;
    height: 420px;
    background-color: #191919;
    position: relative;
}

.title {
    font-weight: 500;
}

.menu {
    padding: 0;
    /* font-size: 14px; */
}

.link {
    text-decoration: none;
    color: #576067;
    font-size: 12px;
}

.link:hover {
    color: white;
}

li {
    list-style: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    position: absolute;
    bottom: 20px;
    
}

