.sidebar {
    background-color: #191919;
    padding: 20px;
    border-radius: 5px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #576067;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}

.link:hover {
    color: white;
}

.active {
    color: #8B57C6;
}

