.banner {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 5px;
}
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../../images/bannerImg.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(90%);
    z-index: 1;
}
.button {
    position: absolute;
    z-index: 2;
    left: 35%;
    bottom: 10px;
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #6C3EB8;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
.button:hover {
    background-color: #8B57C6;
}

@media all and (max-width: 1050px) {
     .banner {
        height: 350px;
     }
}
@media all and (max-width: 800px) {
    .banner {
        height: 250px;
     }
}
@media all and (max-width: 650px) {
    .banner {
        height: 200px;
     }
}
@media all and (max-width: 550px) {
    .banner button {
        width: 45%;
        left: 30%;
    }
}